<ion-content class="aut-buttons">
<ion-grid class="aut-buttons-grid">
  <ion-row>
    <ion-col>
      <span id="is-user"> ¿Usuario registrado? </span>
      <ion-button id="btn-iniciar-sesion" [routerLink]="[ '/iniciar-sesion']" expand="block" fill="outline" shape="round"> Iniciar Sesion </ion-button>
      <span class="divider line one-line"> ó </span>
      <ion-button [routerLink]="[ '/registro']" expand="block" fill="solid" shape="round"> Registrate </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
