<app-header-menu-filter title="Proyectos"></app-header-menu-filter>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button [routerLink]="['/new-project']" data-desc="Nuevo Proyecto" color="add">
      <ion-icon name="add-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<ion-content class="ion-padding">
  <ion-card *ngFor="let project of projects |  async">
    <ion-card-header>
      <ion-card-title class="titulo-card" color="primary"> {{ project.project_name }} </ion-card-title>
      <br>
      <ion-card-subtitle> ID del Proyecto: {{ project.project_id }} </ion-card-subtitle>
      <ion-card-subtitle> Tipo de Servicio: {{ project.tipo_servicio }} </ion-card-subtitle>
      <ion-card-subtitle> Fecha de inicio: {{ project.start_date }} </ion-card-subtitle>
      <ion-card-subtitle> Fecha de entrega: {{ project.end_date }} </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle class="subtitulo" color="primary"> Descripción </ion-card-subtitle> 
      {{ project.project_description }} 
    </ion-card-content>

    <ion-button (click)="btnDelete(project)" expand="block" color="danger" fill="clear">
      Borrar
      <ion-icon slot="start" name="trash-outline"></ion-icon>
    </ion-button>
  </ion-card>
</ion-content>