ion-fab-button[data-desc] {
  position: absolute;
  color: white;
}

ion-fab-button[data-desc]::after {
position: absolute;
content: attr(data-desc);
z-index: 1;
right: 50px;
bottom: 4px;
font-family: 'Lato', sans-serif;
font-weight: bold;
background-color: #008800;
padding: 9px;
border-radius: 10px;
}

.titulo-card {
  font-size: 27px;
  font-weight: bolder;
}

.subtitulo {
  font-size: 17px;
  font-weight: bold;
  font-style: italic;
}

