<app-header-menu-filter title="Mis Entregas Programadas"></app-header-menu-filter>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button [routerLink]="['/nueva-entrega']" data-desc="Programar Nueva Entrega" color="add">
      <ion-icon name="add-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<ion-content class="ion-padding">
  <ion-card *ngFor="let entrega of entregas |  async">
    <ion-card-header>
      <ion-card-title class="titulo-card" color="primary"> {{ entrega.nombre_apellido}} </ion-card-title>
      <ion-card-subtitle> {{ entrega.correo_electronico }} </ion-card-subtitle>
      <ion-card-subtitle> Nombre del proyecto: {{ entrega.nombre_proyecto }} </ion-card-subtitle>
      <ion-card-subtitle> Fecha de entrega: {{ entrega.fecha_entrega }} </ion-card-subtitle>
      <ion-card-subtitle> Hora de entrega: {{ entrega.hora_entrega }} </ion-card-subtitle>
      <ion-card-subtitle> Lugar de la entrega: {{ entrega.lugar_entrega }} </ion-card-subtitle>
    </ion-card-header>
    <ion-button (click)="btnDelete(cotizacion)" expand="block" color="danger" fill="clear">
      Borrar
      <ion-icon slot="start" name="trash-outline"></ion-icon>
    </ion-button>
  </ion-card>
</ion-content>
