<ion-header class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary"> Registrarse </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm">
    <ion-item>
      <ion-label position="floating" color="primary"> Nombre </ion-label>
      <ion-input formControlName="regName" type="text" placeholder="Nombre" required></ion-input>
    </ion-item>
    <div id="nameErrorMessage" *ngIf="registerForm.controls['regName'].invalid && (registerForm.controls['regName'].dirty || registerForm.controls['regName'].touched)">
      <span class="error ion-padding" *ngIf="registerForm.controls['regName'].errors.required"> Nombre obligatorio </span>
    </div>

    <ion-item>
      <ion-label position="floating" color="primary"> Apellido </ion-label>
      <ion-input formControlName="regLastName" type="text" placeholder="Apellido" required></ion-input>
    </ion-item>
    <div id="lastNameErrorMessage" *ngIf="registerForm.controls['regLastName'].invalid && (registerForm.controls['regLastName'].dirty || registerForm.controls['regLastName'].touched)">
      <span class="error ion-padding" *ngIf="registerForm.controls['regLastName'].errors.required"> Apellido obligatorio </span>
    </div>

    <ion-item>
      <ion-label color="primary"> Dependencia </ion-label>
      <ion-select formControlName="regTypeUser" [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Selecciona">
        <ion-select-option value="empleado">Empleado</ion-select-option>
        <ion-select-option value="cliente">Cliente</ion-select-option>
      </ion-select>
    </ion-item>
    <div id="dropDownErrorMessage" *ngIf="registerForm.controls['regTypeUser'].invalid && (registerForm.controls['regTypeUser'].dirty || registerForm.controls['regTypeUser'].touched)">
      <span class="error ion-padding" *ngIf="registerForm.controls['regTypeUser'].errors.required"> Escoge una opción </span>
    </div>

    <ion-item>
      <ion-label position="floating" color="primary"> Correo Electronico </ion-label>
      <ion-input formControlName="regEmail" type="email" placeholder="Correo Electronico" required></ion-input>
    </ion-item>
    <div id="emailErrorMessage" *ngIf="registerForm.controls['regEmail'].invalid && (registerForm.controls['regEmail'].dirty || registerForm.controls['regEmail'].touched)">
      <span class="error ion-padding" *ngIf="registerForm.controls['regEmail'].errors.required"> Correo electronico obligatorio </span>
      <span class="error ion-padding" *ngIf="registerForm.controls['regEmail'].errors.pattern"> Formato incorrecto </span>
    </div>

    <ion-item>
      <ion-label position="floating" color="primary"> Contraseña </ion-label>
      <ion-input formControlName="regPassword" type="password" placeholder="Contraseña" required></ion-input>
    </ion-item>
    <div id="passwordErrorMessage" *ngIf="registerForm.controls['regPassword'].invalid && (registerForm.controls['regPassword'].dirty || registerForm.controls['regPassword'].touched)">
      <span class="error ion-padding" *ngIf="registerForm.controls['regPassword'].errors.required"> Contraseña obligatoria </span>
      <span class="error ion-padding" *ngIf="registerForm.controls['regPassword'].errors.maxLength"> Debe tener 8 caracteres </span>
    </div>

    <ion-item>
      <ion-label position="floating" color="primary"> Confirmar Contraseña </ion-label>
      <ion-input formControlName="regRePassword" type="password" placeholder="Confirmar Contraseña" required></ion-input>
    </ion-item>
    <div id="confirmPasswordErrorMessage" *ngIf="registerForm.controls['regRePassword'].invalid && (registerForm.controls['regRePassword'].dirty || registerForm.controls['regRePassword'].touched)">
      <span class="error ion-padding" *ngIf="registerForm.controls['regRePassword'].errors.required"> Confirmar la contraseña es obligatorio </span>
      <span class="error ion-padding" *ngIf="registerForm.controls['regRePassword'].errors.maxLength"> Debe tener 8 caracteres </span>
    </div>

    <ion-row>
      <ion-col>
        <ion-button expand="block" color="primary" shape="round" type="submit" (click)="submitRegisterForm()"> Registrarse </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
