ion-list-header {
  --background: #ffffff;
  font-family: 'Times New Roman', sans-serif;
  font-style: normal;
  font-size: medium;
  font-weight: normal;
}
.error {
  color: #C50505;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
}