<app-header-menu title="Nuevo Requerimiento"></app-header-menu>

<ion-content class="ion-padding">
  <form [formGroup]="nuevoRequerimientoForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating" color="primary"> Código del Requerimiento </ion-label>
        <ion-input formControlName="requerimientoCode" type="text" placeholder="Código del Requerimiento" required></ion-input>
      </ion-item>
      <div id="idRequerimientoErrorMessage" *ngIf="nuevoRequerimientoForm.controls['requerimientoCode'].invalid && (nuevoRequerimientoForm.controls['requerimientoCode'].dirty || nuevoRequerimientoForm.controls['requerimientoCode'].touched)">
        <span class="error ion-padding" *ngIf="nuevoRequerimientoForm.controls['requerimientoCode'].errors.required"> Código obligatorio </span>
        <span class="error ion-padding" *ngIf="nuevoRequerimientoForm.controls['requerimientoCode'].errors.maxLength"> Debe tener 8 caracteres </span>
      </div>

      <ion-item>
        <ion-label color="primary"> Tipo de Requerimiento </ion-label>
        <ion-select formControlName="tipoRequerimiento" ok-text="Okay" cancel-text="Cancelar" placeholder="Selecionar" required>
          <ion-select-option *ngFor="let opt of requerimientosOpts | async"> {{ opt.name }} </ion-select-option>
        </ion-select>
      </ion-item>
      <div id="tipoRequerimientoErrorMessage" *ngIf="nuevoRequerimientoForm.controls['tipoRequerimiento'].invalid && (nuevoRequerimientoForm.controls['tipoRequerimiento'].dirty || nuevoRequerimientoForm.controls['tipoRequerimiento'].touched)">
        <span class="error ion-padding" *ngIf="nuevoRequerimientoForm.controls['tipoRequerimiento'].errors.required"> El tipo de requerimiento es obligatorio </span>
      </div>

      <ion-item>
        <ion-label color="primary"> Proyecto </ion-label>
        <ion-select formControlName="proyecto" ok-text="Okay" cancel-text="Cancelar" placeholder="Selecionar" required>
          <ion-select-option *ngFor="let project of this.projects"> {{ project.projectName }} </ion-select-option>
        </ion-select>
      </ion-item>
      <div id="proyectoErrorMessage" *ngIf="nuevoRequerimientoForm.controls['proyecto'].invalid && (nuevoRequerimientoForm.controls['proyecto'].dirty || nuevoRequerimientoForm.controls['proyecto'].touched)">
        <span class="error ion-padding" *ngIf="nuevoRequerimientoForm.controls['proyecto'].errors.required"> El proyecto es obligatorio </span>
      </div>

      <ion-item>
        <ion-label position="floating" color="primary"> Titulo del requerimiento </ion-label>
        <ion-input formControlName="ResumenRequerimiento" type="text" placeholder="Titulo del requerimiento" required></ion-input>
      </ion-item>
      <div id="resumenRequerimientoErrorMessage" *ngIf="nuevoRequerimientoForm.controls['ResumenRequerimiento'].invalid && (nuevoRequerimientoForm.controls['ResumenRequerimiento'].dirty || nuevoRequerimientoForm.controls['ResumenRequerimiento'].touched)">
        <span class="error ion-padding" *ngIf="nuevoRequerimientoForm.controls['ResumenRequerimiento'].errors.required"> El titulo es obligatorio </span>
      </div>

      <ion-item>
        <ion-label color="primary"> Prioridad </ion-label>
        <ion-select formControlName="prioridadRequerimiento" ok-text="Okay" cancel-text="Cancelar" placeholder="Selecionar" required>
          <ion-select-option *ngFor="let prioridadOpt of prioridadesOpts | async"> {{ prioridadOpt.name }} </ion-select-option>
        </ion-select>
      </ion-item>
      <div id="prioridadRequerimientoErrorMessage" *ngIf="nuevoRequerimientoForm.controls['prioridadRequerimiento'].invalid && (nuevoRequerimientoForm.controls['prioridadRequerimiento'].dirty || nuevoRequerimientoForm.controls['prioridadRequerimiento'].touched)">
        <span class="error ion-padding" *ngIf="nuevoRequerimientoForm.controls['prioridadRequerimiento'].errors.required"> La prioridad es obligatoria </span>
      </div>

      <ion-item>
        <ion-label position="floating" color="primary"> Descripción </ion-label>
        <ion-textarea formControlName="descripcionRequerimiento" placeholder="Descripcion del requerimiento" required></ion-textarea>
      </ion-item>
      <div id="nombreProyectoEntregaErrorMessage" *ngIf="nuevoRequerimientoForm.controls['descripcionRequerimiento'].invalid && (nuevoRequerimientoForm.controls['descripcionRequerimiento'].dirty || nuevoRequerimientoForm.controls['descripcionRequerimiento'].touched)">
        <span class="error ion-padding" *ngIf="nuevoRequerimientoForm.controls['descripcionRequerimiento'].errors.required"> Descripcion obligatoria </span>
      </div>
    </ion-list>
    <ion-grid class="ion-padding">
      <ion-row>
        <ion-col>
          <ion-button expand="block" fill="outline" color="primary" shape="round" type="submit" (click)="nuevoRequerimiento()" [disabled]="nuevoRequerimientoForm.invalid"> Programar </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
