<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle *ngFor="let opts of menuOpts">
          <ion-item [routerLink]="opts.redirectTo">
            <ion-icon slot="start" [name]="opts.icon" color="primary"></ion-icon>
            {{ opts.name }}
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>

    <ion-footer>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-toggle>
            <ion-button [routerLink]="['/profile']">
              <ion-icon slot="icon-only" name="person" color="primary"></ion-icon>
            </ion-button>
          </ion-menu-toggle>
        </ion-buttons>
      </ion-toolbar>

      <ion-toolbar>

        <ion-buttons slot="start">
          <ion-menu-toggle>
            <ion-button (click)="closeSession()">
              Cerrar Sesion
              <ion-icon slot="icon-only" name="walk" color="primary">
              </ion-icon>
            </ion-button>
          </ion-menu-toggle>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
