<app-header title="Iniciar Sesion"></app-header>

<ion-content class="ion-padding">
  <form [formGroup]="logForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating" color="primary"> Correo Electronico </ion-label>
        <ion-input formControlName="logEmail" type="email" placeholder="Correo Electronico" required></ion-input>
      </ion-item>
      <div id="emailErrorMessage" *ngIf="logForm.controls['logEmail'].invalid && (logForm.controls['logEmail'].dirty || logForm.controls['logEmail'].touched)">
        <span class="error ion-padding" *ngIf="logForm.controls['logEmail'].errors.required"> Correo electronico obligatorio </span>
        <span class="error ion-padding" *ngIf="logForm.controls['logEmail'].errors.pattern"> Formato incorrecto </span>
      </div>
  
      <ion-item>
        <ion-label position="floating" color="primary"> Contraseña </ion-label>
        <ion-input formControlName="logPassword" type="password" placeholder="Contraseña" required></ion-input>
      </ion-item>
      <div id="passwordErrorMessage" *ngIf="logForm.controls['logPassword'].invalid && (logForm.controls['logPassword'].dirty || logForm.controls['logPassword'].touched)">
        <span class="error ion-padding" *ngIf="logForm.controls['logPassword'].errors.required"> Contraseña obligatoria </span>
        <span class="error ion-padding" *ngIf="logForm.controls['logPassword'].errors.maxLength"> Debe tener maximo 15 caracteres </span>
        <span class="error ion-padding" *ngIf="logForm.controls['logPassword'].errors.minLength"> Debe tener mninimo 8 caracteres </span>
      </div>
    </ion-list>
    <ion-grid class="ion-padding">
      <ion-row>
        <ion-col>
          <ion-button expand="block" fill="outline" color="primary" shape="round" type="submit" (click)="submitLogForm()" [disabled]="logForm.invalid"> Iniciar Sesion </ion-button>
          <span class="divider line one-line"> Si olvidaste tu contraseña</span>
          <ion-button expand="block" fill="solid" shape="round" [routerLink]="[ '/forgot-password']"> Recuperar mi contraseña </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
