<app-header-menu title="Programar Nueva Entrega"></app-header-menu>

<ion-content class="ion-padding">
  <form [formGroup]="nuevaEntregaForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating" color="primary"> Nombre y Apellido del cliente </ion-label>
        <ion-input formControlName="cliNombreApellidoEntrega" type="text" placeholder="Nombre y Apellido" required></ion-input>
      </ion-item>
      <div id="nameApellidoEntregaErrorMessage" *ngIf="nuevaEntregaForm.controls['cliNombreApellidoEntrega'].invalid && (nuevaEntregaForm.controls['cliNombreApellidoEntrega'].dirty || nuevaEntregaForm.controls['cliNombreApellidoEntrega'].touched)">
        <span class="error ion-padding" *ngIf="nuevaEntregaForm.controls['cliNombreApellidoEntrega'].errors.required"> Nombre y Apellido obligatorio </span>
      </div>
  
      <ion-item>
        <ion-label position="floating" color="primary"> Correo del cliente </ion-label>
        <ion-input formControlName="clientEntregaEmail" type="text" placeholder="Correo Electronico" required></ion-input>
      </ion-item>
      <div id="mailEntregaErrorMessage" *ngIf="nuevaEntregaForm.controls['clientEntregaEmail'].invalid && (nuevaEntregaForm.controls['clientEntregaEmail'].dirty || nuevaEntregaForm.controls['clientEntregaEmail'].touched)">
        <span class="error ion-padding" *ngIf="nuevaEntregaForm.controls['clientEntregaEmail'].errors.required"> Correo del cliente obligatorio </span>
        <span class="error ion-padding" *ngIf="nuevaEntregaForm.controls['clientEntregaEmail'].errors.pattern"> Formato incorrecto </span>
      </div>

      <ion-item>
        <ion-label position="floating" color="primary"> Nombre del proyecto </ion-label>
        <ion-input formControlName="nombreProyectoEntrega" type="text" placeholder="Nombre del proyecto" required></ion-input>
      </ion-item>
      <div id="nombreProyectoEntregaErrorMessage" *ngIf="nuevaEntregaForm.controls['nombreProyectoEntrega'].invalid && (nuevaEntregaForm.controls['nombreProyectoEntrega'].dirty || nuevaEntregaForm.controls['nombreProyectoEntrega'].touched)">
        <span class="error ion-padding" *ngIf="nuevaEntregaForm.controls['nombreProyectoEntrega'].errors.required"> Nombre del proyecto obligatorio </span>
      </div>

      <ion-item>
        <ion-label color="primary"> Fecha de Entrega </ion-label>
        <ion-datetime formControlName="dateEntrega" displayFormat="DD MMM, YYYY" requiered></ion-datetime>
      </ion-item>
      <div id="dateEntregaErrorMessage" *ngIf="nuevaEntregaForm.controls['dateEntrega'].invalid && (nuevaEntregaForm.controls['dateEntrega'].dirty || nuevaEntregaForm.controls['dateEntrega'].touched)">
        <span class="error ion-padding" *ngIf="nuevaEntregaForm.controls['dateEntrega'].errors.required"> La fecha es obligatoria </span>
      </div>

      <ion-item>
        <ion-label color="primary"> Hora </ion-label>
        <ion-datetime formControlName="horaEntrega" display-format="hh:mm a" picker-format="hh:mm a" requiered></ion-datetime>
      </ion-item>
      <div id="horaEntregaErrorMessage" *ngIf="nuevaEntregaForm.controls['horaEntrega'].invalid && (nuevaEntregaForm.controls['horaEntrega'].dirty || nuevaEntregaForm.controls['horaEntrega'].touched)">
        <span class="error ion-padding" *ngIf="nuevaEntregaForm.controls['horaEntrega'].errors.required"> La hora es obligatoria </span>
      </div>

      <ion-item>
        <ion-label color="primary"> Lugar de la entrega </ion-label>
        <ion-select formControlName="lugarEntrega" ok-text="Okay" cancel-text="Cancelar" placeholder="Selecionar" required>
          <ion-select-option value="01">Cr 17 # 116 - 32</ion-select-option>
          <ion-select-option value="02">Virtual</ion-select-option>
        </ion-select>
      </ion-item>
      <div id="lugarEntregaErrorMessage" *ngIf="nuevaEntregaForm.controls['lugarEntrega'].invalid && (nuevaEntregaForm.controls['lugarEntrega'].dirty || nuevaEntregaForm.controls['lugarEntrega'].touched)">
        <span class="error ion-padding" *ngIf="nuevaEntregaForm.controls['lugarEntrega'].errors.required"> El lugar de la entrega es obligatoria </span>
      </div>
    </ion-list>
    <ion-grid class="ion-padding">
      <ion-row>
        <ion-col>
          <ion-button expand="block" fill="outline" color="primary" shape="round" type="submit" (click)="programarNuevaEntrega()" [disabled]="nuevaEntregaForm.invalid"> Programar </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
